[submodule "Cleverscape.uTorrentClient.WebClient"]
	path = Cleverscape.uTorrentClient.WebClient
	url = git://github.com/descention/Cleverscape.uTorrentClient.WebClient.git
[submodule "Mundorff.Lan-CDS.Plugins"]
	path = Plugins
[submodule "Mundorff.Lan-CDS.Launcher"]
	path = Launcher